version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: ../Dockerfile.backend
    container_name: lms-backend
    ports:
      - "8000:8000"  # host:container
    env_file:
      - ./backend/.env
    restart: always
    networks:
      - lms-network
    extra_hosts:
      - "host.docker.internal:host-gateway"   # allows container to access host MongoDB

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.frontend
    container_name: lms-frontend
    ports:
      - "8082:80"
    restart: always
    depends_on:
      - backend
    networks:
      - lms-network

networks:
  lms-network:
    driver: bridge

